@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: #1a1a1a;
  color: #eee;
}

:root {
  --background-color: #1a1a1a;
  --text-color: #eee;
  --border-radius: 30px;
}

.card::before {
  background-color: transparent;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
  height: 70px;
  border-bottom-left-radius: var(--border-radius);
  box-shadow: -30px 30px 0 var(--background-color);
}

.card::after {
  background-color: var(--background-color);
  /* content: "andry"; */
  position: absolute;
  top: 0;
  right: 0;
  height: 60px;
  width: calc(40% - 10px);
  border-radius: var(--border-radius);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: medium;
}

@container style(--isElectronics:true) {
  .card::after {
    content: url("/electronic.png");
  }

  .card .more {
    box-shadow: 0 7px 0 chocolate;
  }
}

@container style(--isFurniture:true) {
  .card::after {
    content: url("/furniture.png");
  }

  .card .more {
    box-shadow: 0 7px 0 cadetblue;
  }
}

/* Hilangkan spinner untuk Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hilangkan spinner untuk Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Tabel Scroll */
.tableContainer {
  --sb-track-color: #232e33;
  --sb-thumb-color: #14c688;
  --sb-size: 5px;
}

.tableContainer::-webkit-scrollbar {
  width: var(--sb-size);
}

.tableContainer::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 15px;
}

.tableContainer::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 15px;
}

@supports not selector(::-webkit-scrollbar) {
  .tableContainer {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
/* Tabel Scroll */

/* Loader Page */
.custom-loader {
  width: 50px;
  height: 50px;
  --c: radial-gradient(farthest-side, #766df4 92%, #0000);
  background: var(--c) 50% 0, var(--c) 50% 100%, var(--c) 100% 50%, var(--c) 0 50%;
  background-size: 10px 10px;
  background-repeat: no-repeat;
  animation: s8 1s infinite;
  position: relative;
}
.custom-loader::before {
  content: "";
  position: absolute;
  inset: 0;
  margin: 3px;
  background: repeating-conic-gradient(#0000 0 35deg, #766df4 0 90deg);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 3px), #000 0);
  border-radius: 50%;
}

@keyframes s8 {
  100% {
    transform: rotate(0.5turn);
  }
}
/* Loader Page */
